*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    }
body{
    height: 100vh;
   
    justify-content: center;    
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #c3eb0f,#af4c71);
}
.container{
    max-width: 300px;
    width: 100%;
    background-color: #b7cb65;
    margin-top: 60px;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.container .title{
font-size: 25px;
font-weight: 500;
position: relative;
}
.container .title::before{
    content:"";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #8bcb16,#4fc737);
}
.content form .user-details{
display: flex;
flex-wrap: wrap;
justify-content: space-between; 
margin: 20px 0 12px 0;
}
form .user-details .input-box{
margin-bottom: 15px;
width: calc(100% / 2 - 20px);
}
form .input-box span.details{
display: block; 
font-weight: 500; 
margin-bottom: 5px;
}
.user-details .input-box input{
height: 45px;
width: 100%;
outline: none;
font-size: 16px;
border-radius: 5px;
padding-left: 15px;
border: 1px solid #ccc;
border-bottom-width: 2px;
transition:all 0.3s ease;
}
.user-details .input-box input:focus, 
.user-details .input-box input:valid{ 
    border-color: #1cde26;
}
form .active-details .active-title{
font-size: 20px;
font-weight: 500;
}
form .category{
display: flex;
width: 80%;
margin: 14px 0;
justify-content: space-between;
}
form .category label{
display: flex;
align-items: center; 
cursor: pointer;
}
form .category label .dot{
height: 18px;
width: 18px;
border-radius: 50%;
margin-right: 10px;
background: #d9d9d9;
border: 5px solid transparent; 
transition: all 0.3s ease;
}
form input[type="radio"]{
    display: none;
}
form .button{
    height: 45px;
    margin: 35px 0
}
form .button button{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg,#71e679,#0a3bda);
    }
form .button button:hover{
    background: linear-gradient(-135deg, #0fe30c, #d5e311);
}
@media(max-width: 584px){
    .container{
        max-width: 100%;
    }
    form .user-details .input-box{
        margin-bottom: 15px; 
        width: 100%;
    }
    form .category{
        width: 100%;
    }
    .content form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
        width: 5px;
    }
}
@media(max-width: 459px){
    .container .content .category{
        flex-direction: column;
    }
}
.register-btn {
background-color: #37b41b;
color: white;
padding: 15px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
font-size: 16px;
margin-left: 600px;
transition: background-color 0.3s;
}
.register-btn:hover {
background-color: #886cd8;
}
#registration-complete {
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px
    rgba(0,0,0,0.15);
    margin-top: 20px;
}
#registration-complete .title {
font-size: 25px;
font-weight: 500;
position: relative;
}
#registration-complete .title::before {
content:"";
position: absolute;
left: 0;
bottom: 0;
height: 3px;
width: 30px;
border-radius: 5px;
background: linear-gradient(135deg, #710fe9,#02e643);
}
#registration-complete .content p {
font-size: 18px;
}

.navbar {
    position: sticky; /* Use sticky instead of fixed */
    top: 0; /* Maintain the top position */
    padding-bottom: 17px; /* Remove unnecessary padding */
    padding-top: 17px;
    background-color: #353535;
    z-index: 1000; /* Ensure the navbar appears above other content */
}

@media (min-width: 400px){
    .container, .container-lg, .container-md, .container-sm {
        max-width: 750px;
    }}

.navbar-brand {
    font-size: 25px;
    color: #fff;

}
/* Add new container class */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* This centers vertically */
    justify-content: center; /* This centers horizontally */
    width: 400px;
    margin-top: 30vh;
    margin-left: 38vw;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
    border-radius: 5px;
  }
  

.gif-container {
    margin-bottom: 20px; /* Add some space between the GIF and the message */
}
